---
// src/pages/404.astro
---

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Redirecting...</title>
    <script is:inline>
      // Mengarahkan balik ke root domain/subdomain secara instan
      window.location.replace(window.location.origin);
    </script>
</head>
<body>
</body>
</html>

